body {
  background-color:#F1F1F1;
  font-family:'Roboto', sans-serif;
  font-size:18px;
  margin:100px auto;
}

.DraftEditor-root {
  font-family:'Quicksand', sans-serif;
  background-color:#efdddd;
  padding:10px;
  margin:100px;
  border-radius:15px;
  outline:none;
  font-weight:bold;
  letter-spacing:1.5px;
}

.handle {
  color:blue;
  direction: 'ltr',
  unicodeBidi: 'bidi-override',
}
.hashtag {
  color:green;
}
.idea {
  color:yellow;
}

.final {
  color:red;
}


.searchResults {
  margin-top: -100px;
  margin-left: 100px;
  position:relative;
  left:0px;
}
.searchResults ul {
  list-style:none;
  margin:0px;
  padding:0px;
}

.searchResults li:focus {
    color:yellow;
}