body {
  background-color:#F1F1F1;
  font-family:'Roboto', sans-serif;
  font-size:18px;
  margin:100px auto;
}

.DraftEditor-root {
  font-family:'Quicksand', sans-serif;
  background-color:#efdddd;
  padding:10px;
  margin:100px;
  border-radius:15px;
  outline:none;
  font-weight:bold;
  letter-spacing:1.5px;
  line-height:2.5rem;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
}


.final {
  border: 1px solid #333;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  background-color: #F0F0F0;
  color: gray;
}

.person {
  color:blue;
}
.hashtag {
  color:green;
}
.relation {
  color:#b9b93d;
}



.searchResults {
  margin-top: -115px;
  margin-left: 100px;
  position:relative;
  left:0px;
  opacity:0;
  overflow: hidden;
}
.searchResults ul {
  list-style:none;
  margin:0px;
  padding:0px;
  display:inline-block;
}

.searchResults ul li {
  color: #c3c3c3;
  font-size: 0.9em;
  background-color: #48718c;
  padding: 8px;
  padding-bottom:4px;
  padding-top:4px;
  border: 1px solid #000;
  border-bottom: none;
  width:100%;
}
.searchResults ul li:last-child {
  border-bottom:1px solid #000;
}
.searchResults li:focus, .searchResults li:hover {
  color:#FFF;
  background-color:#636363;
  outline:none;
  cursor:pointer;
}

.editorContainer {
  margin-bottom:100px;

}

.info {
  margin:200px;
  margin-top:100px;
  margin-bottom:0px;
}

@media only screen and (max-width: 480px) {
  .DraftEditor-root {
    margin:10px;
  }
  .info {
    margin:10px;
    margin-top:10px;
  }
  .searchResults {
    margin-left:5px;
  }
}